# Environnement virtuel
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
